<div class="banner container">
    <div class="banner__wrapper banner__wrapper-upcoming">
        <h2 class="banner__title">
            Заголовок ближайшего мероприятия
        </h2>
        <p class="banner__date">
            12 - 15 сентября
        </p>

        <button class="banner__more">Подробнее</button>
        <div class="banner__bottom">
            <div class="banner__arrows">
                <div class="banner__arrow banner__arrow-left">
                    <svg aria-hidden="true" focusable="false" width="19" height="16">
                        <use href="/assets/icons/sprite.svg#icon-arrow"></use>
                    </svg>
                </div>
                <div class="banner__arrow banner__arrow-right">
                    <img src="../assets/icons/arrow-white-icon.svg" alt="arrow next">
                    <!-- такая же проблема как в хедер, предпологаю из-за одинакового id -->
                </div>
            </div>
            <div class="banner__image">
                <img id="basic-image" src="../assets/images/basiс_image-solid.png" alt="basic solid">
            </div>
        </div>
    </div>
    <div class="banner__wrapper banner__wrapper-afisha">
        <h2 class="banner__subtitle">
            Рекомендуемые редакцией мероприятия
        </h2>

        <div class="banner__cards">
            <div class="banner__card">
                <div class="banner__card-img"></div>
                <div class="banner__card-info">
                    <h4 class="banner__card-title">Заголовок</h4>
                    <p class="banner__card-date">6 сентября - 14:00 </p>
                    <div class="banner__card-bottom">
                        <div class="banner__card-tags">
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                        </div>
                        <div class="banner__card-more">
                          
                        </div>
                    </div>
                </div>
            </div>

             <div class="banner__card">
                <div class="banner__card-img"></div>
                <div class="banner__card-info">
                    <h4 class="banner__card-title">Заголовок</h4>
                    <p class="banner__card-date">6 сентября - 14:00 </p>
                    <div class="banner__card-bottom">
                        <div class="banner__card-tags">
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                        </div>
                        <div class="banner__card-more">
                           
                        </div>
                    </div>
                </div>
            </div>

             <div class="banner__card">
                <div class="banner__card-img"></div>
                <div class="banner__card-info">
                    <h4 class="banner__card-title">Заголовок</h4>
                    <p class="banner__card-date">6 сентября - 14:00 </p>
                    <div class="banner__card-bottom">
                        <div class="banner__card-tags">
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                        </div>
                        <div class="banner__card-more">
                           
                        </div>
                    </div>
                </div>
            </div>

             <div class="banner__card">
                <div class="banner__card-img"></div>
                <div class="banner__card-info">
                    <h4 class="banner__card-title">Заголовок</h4>
                    <p class="banner__card-date">6 сентября - 14:00 </p>
                    <div class="banner__card-bottom">
                        <div class="banner__card-tags">
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                            <span class="banner__card-tag">Тег</span>
                        </div>
                        <div class="banner__card-more">
                           
                        </div>
                    </div>
                </div>
            </div>

             <div class="content__pagination">
                <div class="content__controller content__controller-prev">
                    <img src="../assets/icons/arrow-white-icon.svg" alt="previos">
                </div>
                <div class="content__page">1</div>
                <div class="content__page content__page-active">2</div>
                <div class="content__page">3</div>
                <div class="content__page">...</div>
                <div class="content__page">112</div>
                <div class="content__controller content__controller-next">
                    <img src="../assets/icons/arrow-white-icon.svg" alt="next">
                </div>
            </div>
        </div>
    </div>
</div>