<div class="content">
    <div class="content__tags">
        <span class="content__tag">Выбранный пункт фильтра
            <img src="assets/icons/xmark-icon.svg" alt="remove tag">
        </span>
        <span class="content__tag">Выбранный пункт фильтра
            <img src="assets/icons/xmark-icon.svg" alt="remove tag">
        </span>
        <span class="content__tag">Выбранный пункт фильтра
            <img src="assets/icons/xmark-icon.svg" alt="remove tag">
        </span>
        <span class="content__tag">Выбранный пункт фильтра
            <img src="assets/icons/xmark-icon.svg" alt="remove tag">
        </span>
        <button class="content__tags-remove">Сбросить фильтр</button>
    </div>
    <select name="sort" id="sort" class="content__sort">
        <option value="Сортировать">Сортировать</option>
    </select>

    <div class="content__wrapper">

        <div class="content__card">
            <div class="content__img"></div>
            <div class="content__info">
                <h4 class="content__title">Заголовок</h4>
                <p class="content__date">6 сентября - 14:00 </p>
                <div class="content__card-bottom">
                    <div class="content__card-tags">
                        <span class="content__card-tag">Тег</span>
                        <span class="content__card-tag">Тег</span>
                        <span class="content__card-tag">Тег</span>
                    </div>
                    <button class="content__more">
                        <img src="../assets/icons/arrow-insert-icon.svg" alt="more arrow inset">
                    </button>
                </div>
            </div>
        </div>

        <div class="content__card">
            <div class="content__img"></div>
            <div class="content__info">
                <h4 class="content__title">Заголовок</h4>
                <p class="content__date">6 сентября - 14:00 </p>
                <div class="content__card-bottom">
                    <div class="content__card-tags">
                        <span class="content__card-tag">Тег</span>
                        <span class="content__card-tag">Тег</span>
                        <span class="content__card-tag">Тег</span>
                    </div>
                    <button class="content__more">
                        <img src="../assets/icons/arrow-insert-icon.svg" alt="more arrow inset">
                    </button>
                </div>
            </div>
        </div>

        <div class="content__card">
            <div class="content__img"></div>
            <div class="content__info">
                <h4 class="content__title">Заголовок</h4>
                <p class="content__date">6 сентября - 14:00 </p>
                <div class="content__card-bottom">
                    <div class="content__card-tags">
                        <span class="content__card-tag">Тег</span>
                        <span class="content__card-tag">Тег</span>
                        <span class="content__card-tag">Тег</span>
                    </div>
                    <button class="content__more">
                        <img src="../assets/icons/arrow-insert-icon.svg" alt="more arrow inset">
                    </button>
                </div>
            </div>
        </div>

        <div class="content__pagination">
            <div class="content__controller content__controller-prev">
                <img src="../assets/icons/arrow-white-icon.svg" alt="previos">
            </div>
            <div class="content__page">1</div>
            <div class="content__page content__page-active">2</div>
            <div class="content__page">3</div>
            <div class="content__page">...</div>
            <div class="content__page">112</div>
            <div class="content__controller content__controller-next">
                <img src="../assets/icons/arrow-white-icon.svg" alt="next">
            </div>
        </div>

        <div class="content__tags">
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <span class="content__tag">Тег</span>
            <button>Все теги</button>
        </div>
    </div>
</div>

<div class="news">
    <h2 class="news__title">Новости</h2>
    <div class="news__wrapper">
        <div class="news__card">
            <div class="news__img"></div>
            <p class="news__subtitle">Заголовок </p>
            <p class="news__desc">Краткое описание</p>
            <button class="news__more">Читать подробнее</button>
        </div>
        <div class="news__card">
            <div class="news__img"></div>
            <p class="news__subtitle">Заголовок </p>
            <p class="news__desc">Краткое описание</p>
            <button class="news__more">Читать подробнее</button>
        </div>
        <div class="news__card">
            <div class="news__img"></div>
            <p class="news__subtitle">Заголовок </p>
            <p class="news__desc">Краткое описание</p>
            <button class="news__more">Читать подробнее</button>
        </div>
    </div>
    <div class="content__pagination">
        <div class="content__controller content__controller-prev">
            <img src="../assets/icons/arrow-white-icon.svg" alt="previos">
        </div>
        <div class="content__page">1</div>
        <div class="content__page content__page-active">2</div>
        <div class="content__page">3</div>
        <div class="content__page">...</div>
        <div class="content__page">112</div>
        <div class="content__controller content__controller-next">
            <img src="../assets/icons/arrow-white-icon.svg" alt="next">
        </div>
    </div>
</div>