<div class="header container">
    <div class="header__logo">
        <p>Логотип</p>
    </div>

    <button class="header__burger">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 6H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            <path d="M3 12H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            <path d="M3 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
        </svg>
    </button>

    <nav class="header__nav">
        <ul>
            <li>
                <a class="header__link" href="#">Театр</a>
            </li>
            <li>
                <a class="header__link" href="#">Музыка</a>
            </li>
            <li>
                <a class="header__link" href="#">Выставки</a>
            </li>
            <li>
                <a class="header__link" href="#">Кино</a>
            </li>
            <li>
                <a class="header__link" href="#">Фестивали и праздники</a>
            </li>
            <li>
                <a class="header__link" href="#">Образовательные мероприятия</a>
            </li>
        </ul>

        <ul>
            <li>
                <a class="header__link header__link-anchor" href="#">
                    Учреждения
                
                </a>
            </li>

            <li>
                <a class="header__link header__link-anchor" href="#">
                    Новости
                    <!-- при использовании второй svg #icon-arrow исчезает input, проверить -->
                </a>
                
            </li>
        </ul>
        

        <div class="header__search">
            <input name="search" id="search" type="text" placeholder="Поиск по сайту">
            <img src="../assets/icons/search-icon.svg" alt="sear">
        </div>
        <button class="header__burger header__burger-close">
            &#x2715;
        </button>
    </nav>
</div>