@media (max-width: 640px) {
    .contents {
        grid-template-columns: 1fr;
    }

    #article {
        grid-column: 1/2;
        padding: 0 10px;
    }

    #content {
        grid-column: 1/2;
        padding: 0 10px;
    }

    .news__wrapper {
        flex-direction: column;
    }

    .news__card {
        width: 100%;
    }
}


/* @media (max-width: 320px) {

    .calendar__weeks,
    .calendar__days {
        gap: 4px;
        grid-template-columns: repeat(7, 1fr);
    }

    .calendar__days .day {
        min-height: 20px;
    }
} */